<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaSubsidiary="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
    <variable name="appName" value="EET 4250" />
    <variable name="logFormat" value="${level:uppercase=true}:${longdate}:${callsite}:${message}"/>
    <variable name="ArchiveFiles" value="5"/>
    <variable name="ArchiveMaxSize" value="1000000"/>
    <variable name="ArchiveDateFormat" value="yyyyMMdd" />
    <variable name="ArchiveNumbering" value="DateAndSequence" />

    <!-- the targets to write to -->
    <targets>
        <target xsi:type="ColoredConsole"
                name="console"
                layout="${logFormat}"
                useDefaultRowHighlightingRules="false"
                detectConsoleAvailable="false">
            <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Fatal" foregroundColor="DarkRed"/>
            <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Error" foregroundColor="DarkRed"/>
            <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Warn" foregroundColor="Yellow"/>
            <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Info" foregroundColor="DarkGreen"/>
            <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Debug" foregroundColor="DarkGray"/>
            <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Trace" foregroundColor="DarkGray"/>
        </target>
    </targets>
    <rules>
        <logger name="*" minlevel="Trace" writeTo="console" />
    </rules>
</nlog>